<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <section>
      <h3><u>Transfer Has Been Made:</u></h3>
      <p><%= @info %></p>
    </section>
  </body>
</html>
